# Analyzing Used Car Listings on eBay Kleinanzeigen

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Read in the data
autos = pd.read_csv('autos.csv', encoding = 'Latin-1')

In [3]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
dateCrawled            50000 non-null object
name                   50000 non-null object
seller                 50000 non-null object
offerType              50000 non-null object
price                  50000 non-null object
abtest                 50000 non-null object
vehicleType            44905 non-null object
yearOfRegistration     50000 non-null int64
gearbox                47320 non-null object
powerPS                50000 non-null int64
model                  47242 non-null object
odometer               50000 non-null object
monthOfRegistration    50000 non-null int64
fuelType               45518 non-null object
brand                  50000 non-null object
notRepairedDamage      40171 non-null object
dateCreated            50000 non-null object
nrOfPictures           50000 non-null int64
postalCode             50000 non-null int64
lastSeen               50000 non-null object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

In [4]:
autos.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

# Clean Columns

In [5]:
autos.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [6]:
autos.rename({'yearOfRegistration':'registration_year'},axis=1, inplace = True)
autos.rename({'monthOfRegistration':'registration_month'},axis=1, inplace = True)
autos.rename({'notRepairedDamage':'unrepaired_damage'},axis=1, inplace = True)
autos.rename({'dateCreated':'ad_created'},axis=1, inplace = True)

In [7]:
autos.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,registration_year,gearbox,powerPS,model,odometer,registration_month,fuelType,brand,unrepaired_damage,ad_created,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

# Initial Data Exploration and Cleaning

In [8]:
autos.describe(include ='all')

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,registration_year,gearbox,powerPS,model,odometer,registration_month,fuelType,brand,unrepaired_damage,ad_created,nrOfPictures,postalCode,lastSeen
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-03-29 23:42:13,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

In [9]:
autos['price'] = autos['price'].str.replace('$','')

In [10]:
autos['price'] = autos['price'].str.replace(',','').astype(int)

In [11]:
autos['odometer'] = autos['odometer'].str.replace(',','')

In [12]:
autos['odometer'] = autos['odometer'].str.replace('km','').astype(int)

In [13]:
autos.rename({'odometer':'odometer_km'},axis=1, inplace = True)

In [14]:
autos['price'].unique().shape

(2357,)

In [15]:
autos['price'].describe()

count    5.000000e+04
mean     9.840044e+03
std      4.811044e+05
min      0.000000e+00
25%      1.100000e+03
50%      2.950000e+03
75%      7.200000e+03
max      1.000000e+08
Name: price, dtype: float64

# Exploring Odometer and Price

In [16]:
autos[autos['price'].between(2000,350000)]['price'].value_counts().sort_index()

2000      460
2001        1
2004        1
2033        1
2035        1
2050       27
2070        1
2090        2
2095        1
2099       21
2100      208
2111        2
2128        1
2134        1
2140        1
2149        2
2150       95
2175        1
2180        1
2190       29
2195        1
2199       52
2200      382
2210        6
2222       27
2225        1
2241        1
2245        1
2249        2
2250      147
         ...
119500      1
119900      1
120000      2
128000      1
129000      1
130000      1
135000      1
137999      1
139997      1
145000      1
151990      1
155000      1
163500      1
163991      1
169000      1
169999      1
175000      1
180000      1
190000      1
194000      1
197000      1
198000      1
220000      1
250000      1
259000      1
265000      1
295000      1
299000      1
345000      1
350000      1
Name: price, Length: 1915, dtype: int64

In [17]:
autos['odometer_km'].unique().shape

(13,)

In [18]:
autos['odometer_km'].describe()

count     50000.000000
mean     125732.700000
std       40042.211706
min        5000.000000
25%      125000.000000
50%      150000.000000
75%      150000.000000
max      150000.000000
Name: odometer_km, dtype: float64

In [19]:
autos[autos['odometer_km'].between(0,150000)]['odometer_km'].value_counts().sort_index()

5000        967
10000       264
20000       784
30000       789
40000       819
50000      1027
60000      1164
70000      1230
80000      1436
90000      1757
100000     2169
125000     5170
150000    32424
Name: odometer_km, dtype: int64

In [20]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
dateCrawled           50000 non-null object
name                  50000 non-null object
seller                50000 non-null object
offerType             50000 non-null object
price                 50000 non-null int64
abtest                50000 non-null object
vehicleType           44905 non-null object
registration_year     50000 non-null int64
gearbox               47320 non-null object
powerPS               50000 non-null int64
model                 47242 non-null object
odometer_km           50000 non-null int64
registration_month    50000 non-null int64
fuelType              45518 non-null object
brand                 50000 non-null object
unrepaired_damage     40171 non-null object
ad_created            50000 non-null object
nrOfPictures          50000 non-null int64
postalCode            50000 non-null int64
lastSeen              50000 non-null object
dtypes: int64(7), object(13)
memory usage: 7.6+ MB

In [21]:
autos = autos.drop(index = autos[~autos['price'].between(2000,350000)].index, axis = 0)

# Exploring the date columns

In [22]:
autos['dateCrawled'].str[:10].value_counts(normalize = True, dropna = False).sort_index()

2016-03-05    0.025821
2016-03-06    0.014157
2016-03-07    0.034295
2016-03-08    0.031703
2016-03-09    0.032600
2016-03-10    0.032500
2016-03-11    0.032766
2016-03-12    0.037452
2016-03-13    0.016882
2016-03-14    0.036920
2016-03-15    0.033265
2016-03-16    0.029177
2016-03-17    0.031005
2016-03-18    0.012728
2016-03-19    0.036056
2016-03-20    0.037851
2016-03-21    0.037153
2016-03-22    0.031769
2016-03-23    0.032201
2016-03-24    0.028446
2016-03-25    0.029775
2016-03-26    0.033198
2016-03-27    0.032102
2016-03-28    0.035990
2016-03-29    0.033531
2016-03-30    0.033231
2016-03-31    0.031703
2016-04-01    0.034993
2016-04-02    0.036089
2016-04-03    0.039678
2016-04-04    0.036854
2016-04-05    0.013459
2016-04-06    0.002991
2016-04-07    0.001662
Name: dateCrawled, dtype: float64

In [23]:
autos['ad_created'].str[:10].value_counts(normalize = True, dropna = False).sort_index()

2015-06-11    0.000033
2015-08-10    0.000033
2015-09-09    0.000033
2015-11-10    0.000033
2015-12-30    0.000033
2016-01-03    0.000033
2016-01-10    0.000066
2016-01-13    0.000033
2016-01-14    0.000033
2016-01-16    0.000033
2016-01-22    0.000033
2016-01-27    0.000100
2016-01-29    0.000033
2016-02-01    0.000033
2016-02-02    0.000033
2016-02-05    0.000066
2016-02-07    0.000033
2016-02-09    0.000033
2016-02-11    0.000033
2016-02-12    0.000066
2016-02-14    0.000066
2016-02-16    0.000033
2016-02-17    0.000033
2016-02-18    0.000066
2016-02-19    0.000066
2016-02-20    0.000033
2016-02-21    0.000066
2016-02-22    0.000033
2016-02-23    0.000133
2016-02-24    0.000066
                ...
2016-03-09    0.032534
2016-03-10    0.032334
2016-03-11    0.033132
2016-03-12    0.037086
2016-03-13    0.018743
2016-03-14    0.035059
2016-03-15    0.033165
2016-03-16    0.029775
2016-03-17    0.030540
2016-03-18    0.013160
2016-03-19    0.034893
2016-03-20    0.037984
2016-03-21    0.037618
2016-03-22    0.031304
2016-03-23    0.031802
2016-03-24    0.028812
2016-03-25    0.029775
2016-03-26    0.033398
2016-03-27    0.031935
2016-03-28    0.036123
2016-03-29    0.033497
2016-03-30    0.032932
2016-03-31    0.032068
2016-04-01    0.034694
2016-04-02    0.035923
2016-04-03    0.039944
2016-04-04    0.037153
2016-04-05    0.012030
2016-04-06    0.003157
2016-04-07    0.001429
Name: ad_created, Length: 73, dtype: float64

In [24]:
autos['lastSeen'].str[:10].value_counts(normalize = True, dropna = False).sort_index()

2016-03-05    0.001063
2016-03-06    0.003057
2016-03-07    0.004087
2016-03-08    0.005550
2016-03-09    0.008042
2016-03-10    0.009238
2016-03-11    0.010601
2016-03-12    0.020404
2016-03-13    0.007809
2016-03-14    0.011731
2016-03-15    0.013758
2016-03-16    0.014522
2016-03-17    0.024791
2016-03-18    0.007078
2016-03-19    0.013990
2016-03-20    0.018244
2016-03-21    0.018344
2016-03-22    0.019440
2016-03-23    0.017480
2016-03-24    0.017314
2016-03-25    0.016549
2016-03-26    0.014954
2016-03-27    0.013126
2016-03-28    0.018875
2016-03-29    0.019872
2016-03-30    0.022199
2016-03-31    0.021467
2016-04-01    0.022531
2016-04-02    0.023495
2016-04-03    0.024292
2016-04-04    0.021999
2016-04-05    0.136448
2016-04-06    0.247076
2016-04-07    0.150572
Name: lastSeen, dtype: float64

In [25]:
autos['registration_year'].describe()

count    30092.000000
mean      2006.979363
std         97.086027
min       1001.000000
25%       2003.000000
50%       2006.000000
75%       2010.000000
max       9999.000000
Name: registration_year, dtype: float64

In [26]:
len(autos[autos['registration_year'].between(1900,2016)]['registration_year'])

29151

In [27]:
autos = autos.drop(index = autos[~autos['registration_year'].between(1900,2016)].index, axis = 0)

In [28]:
autos['registration_year'].value_counts(normalize=True).sort_index()

1927    0.000034
1929    0.000034
1931    0.000034
1934    0.000069
1937    0.000137
1938    0.000034
1939    0.000034
1941    0.000069
1943    0.000034
1948    0.000034
1950    0.000034
1951    0.000069
1952    0.000034
1953    0.000034
1954    0.000069
1955    0.000069
1956    0.000103
1957    0.000069
1958    0.000103
1959    0.000206
1960    0.000549
1961    0.000206
1962    0.000103
1963    0.000274
1964    0.000309
1965    0.000583
1966    0.000617
1967    0.000823
1968    0.000892
1969    0.000583
          ...
1987    0.001304
1988    0.002504
1989    0.002916
1990    0.003911
1991    0.004151
1992    0.004357
1993    0.004151
1994    0.004322
1995    0.005797
1996    0.006312
1997    0.009674
1998    0.017221
1999    0.023430
2000    0.032760
2001    0.041577
2002    0.048883
2003    0.062674
2004    0.075229
2005    0.085314
2006    0.087098
2007    0.075812
2008    0.074886
2009    0.070667
2010    0.054201
2011    0.055470
2012    0.044767
2013    0.027272
2014    0.022229
2015    0.012315
2016    0.013859
Name: registration_year, Length: 77, dtype: float64

# Exploring Price by Brand

In [29]:
autos['brand'].unique()

array(['peugeot', 'bmw', 'volkswagen', 'smart', 'chrysler', 'renault',
       'sonstige_autos', 'mazda', 'audi', 'porsche', 'mini',
       'mercedes_benz', 'ford', 'seat', 'opel', 'dacia', 'jeep', 'volvo',
       'nissan', 'toyota', 'jaguar', 'skoda', 'fiat', 'mitsubishi',
       'chevrolet', 'hyundai', 'kia', 'citroen', 'suzuki', 'honda',
       'subaru', 'land_rover', 'alfa_romeo', 'daihatsu', 'saab',
       'trabant', 'lancia', 'daewoo', 'lada', 'rover'], dtype=object)

In [30]:
autos['brand'].value_counts(normalize=True)[:5]

volkswagen       0.209976
bmw              0.137765
mercedes_benz    0.120751
audi             0.108332
opel             0.075332
Name: brand, dtype: float64

In [31]:
autos[autos['brand'] == 'volkswagen']['price'].describe()

count     6121.000000
mean      8101.833851
std       6557.306516
min       2000.000000
25%       3400.000000
50%       5990.000000
75%      10400.000000
max      64500.000000
Name: price, dtype: float64

In [32]:
autos[autos['brand'] == 'bmw']['price'].describe()

count      4016.000000
mean      10348.050797
std       10273.404685
min        2000.000000
25%        4200.000000
50%        7850.000000
75%       13000.000000
max      259000.000000
Name: price, dtype: float64

In [33]:
autos[autos['brand'] == 'mercedes_benz']['price'].describe()

count      3520.000000
mean      10702.847159
std       10623.386613
min        2000.000000
25%        3900.000000
50%        7000.000000
75%       14047.500000
max      180000.000000
Name: price, dtype: float64

In [34]:
autos[autos['brand'] == 'audi']['price'].describe()

count      3158.000000
mean      11647.506333
std       10203.837242
min        2000.000000
25%        4475.000000
50%        8699.000000
75%       15250.000000
max      175000.000000
Name: price, dtype: float64

In [35]:
autos[autos['brand'] == 'opel']['price'].describe()

count     2196.000000
mean      5628.680328
std       4110.909694
min       2000.000000
25%       2950.000000
50%       4250.000000
75%       6790.000000
max      38990.000000
Name: price, dtype: float64

In [36]:
autos[autos['brand'] == 'ford']['price'].describe()

count      1521.000000
mean       7027.472715
std        7186.343149
min        2000.000000
25%        2990.000000
50%        4700.000000
75%        8400.000000
max      130000.000000
Name: price, dtype: float64

In [37]:
first5 = list(autos['brand'].value_counts(normalize=True)[:5].index)

# Exploring Mileage

In [38]:
m_au = {}
for i in first5:
    m_au[i] = [autos[autos['brand'] == i]['price'].mean(),
               autos[autos['brand'] == i]['odometer_km'].mean()]

In [39]:
m_au

{'audi': [11647.50633312223, 124879.67067764408],
 'bmw': [10348.05079681275, 129676.29482071713],
 'mercedes_benz': [10702.847159090908, 127171.875],
 'opel': [5628.680327868852, 116634.79052823315],
 'volkswagen': [8101.833850677994, 121076.62146708055]}

In [40]:
dfmp = pd.DataFrame(m_au, index=['mean_price', 'mean_km'])

In [41]:
dfmp.T.sort_values('mean_price')

                 mean_price        mean_km
opel            5628.680328  116634.790528
volkswagen      8101.833851  121076.621467
bmw            10348.050797  129676.294821
mercedes_benz  10702.847159  127171.875000
audi           11647.506333  124879.670678

In [42]:
n = (150000-5000)/15
dd = []
for i in range(15):
    ss1 = int(5000+n*i)
    ss2 = int(ss1 + n)
    dd.append([ss1,ss2,autos.loc[autos['odometer_km'].between(ss1,ss2),'price'].mean()])
dd

[[5000, 14666, 20070.643103448278],
 [14666, 24332, 21133.624223602485],
 [24333, 33999, 17738.49929478138],
 [34000, 43666, 16127.866492146597],
 [43666, 53332, 14591.97435897436],
 [53333, 62999, 13461.849660523763],
 [63000, 72666, 12103.434905660377],
 [72666, 82332, 10957.799667497922],
 [82333, 91999, 10173.600735294118],
 [92000, 101666, 10202.65244667503],
 [101666, 111332, nan],
 [111333, 120999, nan],
 [121000, 130666, 8242.741176470588],
 [130666, 140332, nan],
 [140333, 149999, nan]]

In [43]:
df= autos.loc[autos['unrepaired_damage'] == 'nein','price'].mean()
df1= autos.loc[autos['unrepaired_damage'] == 'ja','price'].mean()

In [44]:
df-df1

3851.4500994335003

In [45]:
bmc = autos['brand'] + autos['model']

In [46]:
bmc.value_counts()

volkswagengolf           2227
bmw3er                   1873
audia4                    938
volkswagenpassat          903
bmw5er                    891
mercedes_benzc_klasse     842
mercedes_benze_klasse     743
opelastra                 671
audia3                    664
audia6                    661
volkswagenpolo            620
volkswagentransporter     583
bmw1er                    509
opelcorsa                 440
volkswagentouran          431
fordfocus                 384
smartfortwo               382
peugeot2_reihe            335
mercedes_benzandere       335
fordfiesta                318
bmwx_reihe                296
mercedes_benza_klasse     288
opelzafira                272
minicooper                268
skodaoctavia              260
skodafabia                224
mercedes_benzclk          214
audiandere                203
seatibiza                 198
fordmondeo                192
                         ...
subaruandere                5
seatarosa                   4
daihatsuandere              4
volvo850                    4
ladaandere                  4
daihatsumateria             4
saab9000                    4
land_roverandere            4
subarujusty                 4
saab900                     4
daewookalos                 3
volvov60                    3
lanciaypsilon               3
lanciadelta                 3
seatandere                  2
fiatseicento                2
audi90                      2
fiatcroma                   2
daihatsumove                1
roverdiscovery              1
fordb_max                   1
alfa_romeo145               1
daewoomatiz                 1
roverfreelander             1
seatcordoba                 1
roverrangerover             1
smartandere                 1
audi200                     1
daciaandere                 1
mazda1_reihe                1
Length: 281, dtype: int64